%h2 
  Testing
  %i boxes

%style
  div.emb { padding: 10px; margin: 10px; border: 1px solid black; width: 100px; height: 100px; background-color: cyan; overflow: auto }

-# .t{ style: 'height: 200px; max-width: 400px; border: 1px solid; background-color: yellow; overflow: auto' }
.t{ style: 'margin-bottom: 10px; height: 200px; max-width: 1400px; border: 1px solid; background-color: yellow; overflow: auto' }
  .top.emb

  .botleft.emb{ style: 'width: 100px; height: 100px; margin: 5px; padding: 5px; border: 3px solid red; float: right' }
    %p test this is a longer sentence. lets test it blah blah blah basdfkajfkadjsfkasfjasdsfasj
    %p dude

  .botright.emb
    %p BOT RIGHTBBBBBOT RIGHT OT RIGHT OT RIGHT OT RIGHT OT RIGHT

%div{ style: 'height: 200px; min-width: 200px; width: 50%; border: 1px solid; background-color: violet; overflow: auto; float: left' }
%div{ style: 'margin-left: 1px; height: 200px; width: 49%; border: 1px solid; background-color: purple; overflow: auto; float: left' }

:javascript

-#%iframe{ src: 'https://www.bing.com', style: 'width: 50%; height: 500px; float: left' }
